include ./header

.w3-card-2.w3-margin(style='max-width:800px;float:left;margin:15px')
	form.w3-card-2.w3-container.w3-light-grey.w3-padding-16(action='/order', method='post')

		include ./menu

		.w3-container.w3-light-grey.w3-padding-16
			label 商品名稱:
			input(name='name' value='')
		.w3-container.w3-light-grey.w3-padding-16
			label 商品價格:
			input(name='price')
		div
			input(hidden name='count' value=0 readonly='')
		br
		button.w3-btn.w3-padding.w3-green.w3-round-large.w3-margin(type='submit') 更新資料

include ./footer