include ./loginHeader

.col-md-12.col-md-offset-2

	.w3-card-2.w3-margin.w3-light-grey(style='max-width:800px;float:left;margin:15px')
		form.w3-container.w3-padding-16(action='/edit', method='post')

			.w3-card-2.w3-container.w3-light-grey.w3-padding-16(style='max-width:800px;float:left;margin:15px')
				table
					tr.w3-col(ng-repeat='x in names' ng-model='products')
						td.w3-col.s6.w3-padding {{ x.name }}
						td.w3-col.s6.w3-padding {{ x.price | currency : "NT$" : 0 }}
							span.w3-btn.w3-right.fa.fa-remove
							span.w3-btn.w3-right.fa.fa-pencil

			.w3-container.w3-light-grey.w3-padding-16
				label.w3-margin 商品名稱
				input(name='name' value='')
				br
				label.w3-margin 商品價格
				input(name='price')
			div
				input(hidden name='count' value=0 readonly='')
			br
			button.w3-btn.w3-padding.w3-green.w3-round-large.w3-margin(type='submit') 更新資料