include ./adminHeader

.container
	h3
		a(href='/edit') 商品清單
	h1 #{title}
	form(action='/save' method='post')
		table
			tbody
				tr
					td 商品名稱
					td
						input(type='text' name='name')
				tr
					td 商品價格
					td
						input(type='number' name='unitPrice')
				tr
					td(colspan='2')
						input(type='submit' value="Save")