include ./adminHeader

.container
	h3
		a(href='/create') 新增商品
	h1 #{title}
	if(products.length)
		table
			thead
				tr
					th 商品名稱
					th 商品價格
			tbody
				each val in products
					tr
						td
							a(href='/show/' + val._id) #{val.name}
						td #{val.unitPrice}
	else
		div
			i(style='background-color:powderblue') No products found.